body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #7f9696;
    opacity: 0.8;
    color: aliceblue;
    font-size: 30px;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}